* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
